<?xml version="1.0"?>
<config>
     <modules>
        <CP_Paypalbn>
            <version>0.1.0</version>
        </CP_Paypalbn>
    </modules>
    <frontend>
        <routers>
            <cp_paypalbn>
                <use>standard</use>
                <args>
                    <module>CP_Paypalbn</module>
                    <frontName>cp_paypalbn</frontName>
                </args>
            </cp_paypalbn>
        </routers>
    </frontend>
    <admin>
        <routers>
            <cp_paypalbn>
                <use>admin</use>
                <args>
                    <module>CP_Paypalbn</module>
                    <frontName>cp_paypalbn</frontName>
                </args>
            </cp_paypalbn>
        </routers>
    </admin>
    <global>
        <models>
            <cp_paypalbn>
                <class>CP_Paypalbn_Model</class>
            </cp_paypalbn>
            <paypal>
                <rewrite>
                    <config>CP_Paypalbn_Model_Config</config>
                </rewrite>
            </paypal>
        </models>
        <helpers>
            <cp_paypalbn>
                <class>CP_Paypalbn_Helper</class>
            </cp_paypalbn>
        </helpers>
    </global>
</config>
